.background {
        background-image: url("stadium.jpg");
        background-size: cover;
        background-position: center;
        }



/* body {background-image: ur("stadium.jpg"); */
/* } */
/* .fa-amazon { color: red; } */
/* .jumbotron { */
  /* background-image: ur("stadium.jpg"); */

/* } */
